:host {
  display: block;
}

aside {
  -webkit-box-shadow: 0 5px 10px #aaa;
     -moz-box-shadow: 0 5px 10px #aaa;
          box-shadow: 0 5px 10px #aaa;

  width: 100%;
}

article {
}

header, article {
  margin: 1em 0.6em;
}

footer {
  clear: left;
}

paper-tabs {
  background-color: #eee;
  color: #aaa;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
}

mudasobwa-exthen {
  margin-top: 2em;
}

@media screen and (max-width: 480px) {
  article {
    clear: left;
  }
}
