/* Override some defaults */
html {
    line-height: 1.5;
    font-family: "Mukta Mahee", "Roboto", "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 128%;
    color: rgba(0,0,0,0.87);
}

.footer-copyright {
  text-align: center; /* center align it with the container */
  font-size: x-small;
}

.smallcaps { font-variant: small-caps; }

p { font-size: 1.2em; }
footer, footer p { font-size: 0.85em; }

blockquote { border-left: 5px solid #009688; font-size: 0.9rem; }
blockquote p { color: #999; line-height: 1.6em; padding-right: 10em; }
blockquote small:before { content:'—  '; }

pre { padding: 1.8em 1.4em; background-color: #F9F9F9; border: 1px solid #EEE; }

h1 { font-size: 2.71rem; }
h2 { font-size: 2.40rem; }
h3 { font-size: 2.10rem; }
h4 { font-size: 1.90rem; }
h5 { font-size: 1.70rem; }
h6 { font-size: 1.50rem; }

.row ul {
  margin-left: 3em;
  font-size: 110%;
}
footer .row ul {
  margin-left: 0;
  font-size: 90%;
}
.row ul li {
  list-style-type: initial;
}
footer .row ul li {
  list-style-type: none;
}

h1 small ul { display: table-cell; }
h1 small {
  font-size: 14px;
  color: #aaa;
  top: -20px;
  left: -10px;
  position: relative;
}

td { padding: 5px 10px; }

ul.disc li {
  list-style-type: disc;
  /* font-size: 110%; margin-left: 2em; */
}

code.highlighter-rouge {
  background-color: #eee;
  padding: 0em 0.3em;
  border: 1px solid #ccc;
}

a { color: #009688; }
a:visited { color: #004d40; }
a:active, a:hover { color: #80cbc4; }

nav a, nav a:visited, nav a:active, nav a:hover { color: #80cbc4; }

div.page-header {
  margin-left: -.75rem;
  margin-right: -.75rem;
}

div.pagination {
  font-size: 90%;
  font-family: 'Ubuntu', helvetica, arial, sans-serif;
}
.span10 img { margin: 1em 0 1em 0; }
.code { font-family: monospace; }

/* tag_box ======================================================== */

.tag_box {
	list-style:none;
	margin:0;
	padding:5px 0 ;
	overflow:hidden;
}
.tag_box li {
	line-height:28px;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #eee;
	color:#005F6B;
	border-radius: 3px;
	text-decoration:none;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
}
