<div class="page-header">
  <h1>{{ page.title }} <small>{% unless page.tags == empty %}
    <ul class="tag_box inline">
    {% assign tags_list = page.tags %}
    {% include JB/tags_list %}
    </ul>
  {% endunless %}</small></h1>
</div>

<div class="row">
  <div class="span1"></div>
  <div class="span10">
    {{ content }}
    <br><br>
    <div class="pagination row">
      <div class="col s12 m4 center">
        {% if page.previous %}
          <a class="btn btn-floating" href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}"><i class="material-icons medium">skip_previous</i></a></a>
        {% else %}
          <a class="btn btn-floating disabled"><i class="material-icons medium">skip_previous</i></a>
        {% endif %}
      </div>
      <div class="col s12 m4 center">
        <a class="btn btn-floating" href="{{ BASE_PATH }}{{ site.JB.archive_path }}"><i class="material-icons medium">settings_ethernet</i></a>
      </div>
      <div class="col s12 m4 center">
        {% if page.next %}
          <a class="btn btn-floating" href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}"><i class="material-icons medium">skip_next</i></a>
        {% else %}
          <a class="btn btn-floating disabled"><i class="material-icons medium">skip_next</i></a>
        {% endif %}
      </div>
    </div>
  </div>

<!--
  <div class="span4">
    <h4>Published</h4>
    <div class="date"><span>{{ page.date | date_to_long_string }}</span></div>

  {% unless page.tags == empty %}
    <h4>Tags</h4>
    <ul class="tag_box">
    {% assign tags_list = page.tags %}
    {% include JB/tags_list %}
    </ul>
  {% endunless %}
  </div>
-->
</div>
