<div class="post-header">
  <h1>{{ page.title }}</h1>
  <div class="post-meta">
    <span class="date">{{ page.date | date: "%B %e, %Y" }}</span>
    {% if page.category %}
    <span class="separator">&middot;</span>
    <span>{{ page.category }}</span>
    {% endif %}
    {% unless page.tags == empty %}
    <span class="separator">&middot;</span>
    <ul class="tag_box inline">
      {% assign tags_list = page.tags %}
      {% include JB/tags_list %}
    </ul>
    {% endunless %}
  </div>
</div>

<article>
  {{ content }}
</article>

<div class="pagination">
  {% if page.previous %}
    <a class="nav-btn" href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr;</a>
  {% else %}
    <span class="nav-btn disabled">&larr;</span>
  {% endif %}

  <a class="nav-btn-archive" href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a>

  {% if page.next %}
    <a class="nav-btn" href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">&rarr;</a>
  {% else %}
    <span class="nav-btn disabled">&rarr;</span>
  {% endif %}
</div>
